@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    display: grid;
    grid-template-columns: 240px auto;
    grid-template-rows: auto;
}

.main--content{
    position: relative;
    background-color: midnightblue;
    width: 100%;
    padding: 5px;
}

.header--wrapper{
    grid-column: 1 / span 2;
    display: flex;
    justify-content: space-between;
    align-items: start;
    background-color: midnightblue;
    padding: 20px;
    margin-bottom: 1rem;
    width: 700%
}

.header--title{
    color: white;
    font-size: 22 ;
    font-family: 'Times New Roman', Times, serif ;
    text-align: justify;
}

.sidebar{
    grid-row: 2;
    top: 0;
    left: 0;
    bottom: 0;
    width: 240px;
    height: 100vh;
    padding: 0 1.7rem;
    color: black;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.link {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.logout {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.homeimg, .contactimg, .usersimg, .logoutimg {
    height: 30px;
    margin-right: 10px;
}

.form {
    grid-column: 2;
    grid-row: 2;
    flex-grow: 1;
    padding: 15px;
    color: black;
    margin-left: 250px; 
    width: 70%; 
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.containterform {
    background-color: white;
    padding: 30px;
}

.fname, .lname, .email, .password {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fname input, .lname input, .email input, .password input {
    width: 70%; 
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 40px;
}

.btn {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    float: right;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:rgb(7, 7, 54);
    color: white;
    text-align: center;
    padding: 1px 0;
}
